.content {
  width: 100%;
  padding: 0 200px;
  height: 10px;
}

.pokemon {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 3px;
  background: repeating-linear-gradient(
    to right bottom,
    white 3%,
    rgb(245, 245, 245) 3%,
    white 8%,
    rgb(245, 245, 245) 11%,
    white 16%,
    rgb(245, 245, 245) 18%
  );
  padding: 30px 10%;
}

.info {
  background: white;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  place-items: center;
  border-radius: 3px;
}

.pokeName {
  color: #282828;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  grid-column-start: 1;
  grid-column-end: 3;
}

.artworkWrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInfo {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: #f8f9fa;
  border-radius: 3px;
}

.typeWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.typeWrapper > span {
  text-align: center;
  font-weight: 600;
}

.pokeTypes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.typeSpan:first-child {
  margin-right: 30px;
}

.typeSpan:last-child {
  margin-right: none;
}

.typeSpan {
  text-transform: capitalize;
  font-weight: 600;
  height: 100%;
  width: fit-content;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  background: #282828;
}

.abilities {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.abilities > span {
  padding: 10px 0;
}

.closePokes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0 30px;
  grid-gap: 10%;
}

.linkButton {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 100%;
  background: #282828;
  border-radius: 50px;
  cursor: pointer;
}

.closeName {
  color: white;
  font-weight: 600;
}

.evolutions {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  padding: 15px;
  display: grid;
  place-items: center;
}

.pokeChain {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokeChain > svg {
  font-size: 3rem;
  fill: #dedede;
}

.evolWrapper {
  width: auto;
  height: auto;
}

.imgEvolWrapper {
  width: 150px;
  height: 150px;
}

.evolWrapper > p {
  text-align: center;
}

/* Media queries for responsive design */

@media screen and (max-width: 700px) {
  .content {
    padding: 0;
  }

  .pokemon {
    padding: 15px;
  }

  .info {
    display: block;
    padding: 0;
  }

  .textInfo {
    padding: 10px;
  }

  .abilities {
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .imgEvolWrapper {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .typeSpan {
    padding: 15px;
  }

  .abilities {
    flex-direction: column;
  }

  .closePokes {
    padding: 0;
    grid-gap: 5px;
  }

  .evolutions {
    padding: 10px;
  }

  .pokeChain > svg {
    font-size: 2rem;
  }

  .imgEvolWrapper {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 300px) {
  .closePokes {
    display: block;
  }

  .closePokes > * {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .pokeChain {
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .content {
    padding: 0;
  }

  .pokemon {
    padding: 15px;
    height: calc(100vh - 50px);
  }

  .abilities {
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .info {
    padding: 15px 30px;
  }

  .textInfo {
    padding: 10px 15px;
  }

  .imgEvolWrapper {
    width: 120px;
    height: 120px;
  }

  .closePokes {
    padding: 0;
    grid-gap: 0px;
  }
}
